body {
	margin: 0;
	padding: 0;
	background-color: #383838;
	color: #FFF;
	font-family: "Press Start 2P";
}

.login {
	padding: 15%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	box-sizing: border-box;
	.wrapper {
		width: 100%;
		input {
			margin-bottom: 1em;
			width: 100%;
			display: block;
		}
		button {
			width: 100%;
			display: block;
		}
	}
}

.main {
	header {
		width: 100%;
		padding: 1em 3em;
		display: flex;
		justify-content: space-between;
		background-color: #000;
		h1 {
			font-family: "Ubuntu";
		}
	}
	.body {
		padding: 1em;
	}
}

.nes-list.is-circle li::before {
	color: #FFF;
}
